{%load static%}
<h2>لیست فالوئرها:</h2>

<ul style="list-style: none;">
    {% for follower in user.followers.all|slice:"0:5" %}
        <li style="margin-bottom: 15px; display: flex; align-items: center;">

            {% if follower.photo %}
                <img src="{{ follower.photo.url }}" alt="profile pic"
                style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
            {% else %}
                <img src="{% static 'images/profile/avatar.jpg'%}" alt="profile pic"
                style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
            {% endif %}

            <h4 style="margin: 0;">{{ follower.username }}</h4>
        </li>
    {% empty %}
        <li>هیچ فالوئری وجود ندارد.</li>
    {% endfor %}
</ul>