{% extends 'parent/base.html' %}
{% block title %}detail post{% endblock %}
{% block content %}

<div class="post" data-post-id="{{post.id}}">
    {{ post.description |linebreaks }}
    published at {{ post.created}} by {{ post.author }}
    <br><br>

<a href="{% url 'social:user_liked' post.id %}">
    <button class="like-button">
        {% if request.user in post.likes.all %}
            UnLike
        {% else %}
            Like
        {% endif %}
    </button>
    <span class="likes-count">{{ post.likes.count }}</span>Likes
</a>
</div>
<br>
<button class="save-post">
    {% if user in post.save_by.all %}
        UnSave
    {% else %}
        Save
    {% endif %}
</button>

{% for tag in post.tags.all %}
    <a href="{%url 'social:post_list_by_tag' tag.slug %}">{{tag.name}}</a>
    {% if not forloop.last %}, {%endif%}
{% endfor %}

<h2>پست های مشابه</h2>
{% for post in similar_post %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.description |truncatewords:10 }}</a>
    </p>

{% endfor %}
    <div>
        {% for img in post.images.all %}
            <img width="300px" height="300px" src="{{ img.image_file.url }}" alt="{{ img.title }}">
        {% endfor %}
    </div>
    <div>
    {% with comments.count as cm_count%}<!--بخواییم از یک دستور چند بار استفاه کنیم از این روش محدوده را مشخص میکنیم و اسم مشخص میکنیم-->
    {{cm_count}} comment{{cm_count|pluralize}}
    </div>
<div class="comments-section">
    <h3>نظرات ({{ comments.count }})</h3>

    {% for comment in comments %}
    <div class="comment-item mb-3 p-3 border rounded">
        <div class="comment-header d-flex align-items-center mb-2">
            <span class="comment-author fw-bold">:{{ comment.name }}</span>
        </div>
        <p class="comment-body mb-0">{{ comment.body }}</p>
        <span class="comment-date text-muted ms-2">تاریخ کامنت:
                {{ comment.created|date:"Y/m/d - H:i" }}
        </span>
    </div>
    <br>----<br>
    {% empty %}
    <p class="text-muted">هنوز نظری ثبت نشده است.</p>
    {% endfor %}
</div>
    {% endwith %}
    <form method="post" action="{% url 'social:post_comment' post.id %}">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="افزودن کامنت">
    </form>

<a href="{% url 'social:ticket'%}">ارسال تیکت</a>
    <hr>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function (){
        $('.like-button').click(function (){
            var post_id =$(this).closest('.post').data('post-id');
            var button=$(this);
            $.ajax({
                type:'POST',
                url:"{% url 'social:like_post'%}",
                data:{'post_id':post_id,'csrfmiddlewaretoken':'{{csrf_token}}'},
                success: function (data) {
                    if (data.liked){
                        button.text('UnLike');
                    }else{
                        button.text('Like');
                    }
                    $('.likes-count').text(data.likes_count);

                },
            });
        });

        $('.save-post').click(function (){
            var button=$(this);
            $.ajax({
                type:'POST',
                url:"/save_post/",
                data:{'csrfmiddlewaretoken':'{{csrf_token}}','post_id':{{post.id}} },
                success: function (data) {
                    if (data.saved){
                        button.text('Unsave');
                    }else{
                        button.text('Save');
                    }

                },
                error:function(error){
                    console.log("ajax:خطا در ارسال درخواست"+erorr);
                }
            });
        });
    });
</script>
{% endblock %}