{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}
{% block content %}
{% load thumbnail%}
{% load static %}

{% with user=request.user %}
<h1>profile</h1>
<p>{{request.user.get_full_name}}</p>
{% if user.photo %}
    <a href="{{ user.photo.url }}">
        <img src="{% thumbnail user.photo 200x0 quality=80 %}">
    </a>
{% else %}
<img src="{% static 'images/profile/avatar.jpg'%}" width="200px;">
{% endif %}
{% endwith %}
<p><a href="{% url 'social:create_post' %}">ایجاد پست جدید</a> </p>
<table style="width: 80%;border: 2px solid black; text-align: right;direction: rtl;">
    <tr>
        <th>ردیف</th>
        <th>مشاهده</th>
        <th>ویرایش</th>
        <th>حذف</th>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{{ post.get_absolute_url }}" > {{post.description}}</a> </td>
            <td><a href="{% url 'social:edit_post' post.id%}">ویرایش</a> </td>
            <td><a href="{% url 'social:delete_post' post.id %}">حذف</a> </td>
        </tr>
    {%endfor%}
</table>
<br><br>
<h2>پست های سیو شده:</h2>
<ul>
    {%for post in saved_post %}
    <a href="{{ post.get_absolute_url}}">
        {{post.description|truncatewords:20|linebreaks}}
    </a>
    published at {{ post.created}} by {{ post.author }}
        <br><br><br>
    {%endfor%}
</ul>
<h4>اخرین فالور ها</h4>
{% for follower in user.followers.all|slice:"0.5" %}
{% if follower.photo %}
    <img src="{{ flw.photo.url}}" alt="">
{%endif%}
<h4>{{ follower.get_full_name}}({{follower.username}})</h4>

{%endfor%}


<a href="{% url 'social:password_change'%}">تغییر پسورد</a>
<br><br>
<a href="{% url 'social:edit_account'%}">تغییر اطلاعات شخصی</a>
<br><br>
    <a href="{% url 'social:logout' %}">خروج</a>
<br>
{% endblock %}
